@import url('https://fonts.googleapis.com/css2?family=Cardo&family=DotGothic16&display=swap');

body{
   
}
.img2{
    max-width: 200px;
    border-radius: 80px;
    margin: 20px;
}

p{
    color: white;
    font-family: 'Cardo', serif;
}

.about{
    color: white;
    font-family: 'Cardo', serif;
    padding-left: 20px;
}

.imageDiv2{
display:inline-flex;

}


.para{
    padding: 20px;
    font-size: 20px;
}

