
  @import url('https://fonts.googleapis.com/css2?family=Cardo&family=DotGothic16&display=swap');


body{
 background-color: black;
 font-family: 'Cardo', serif;
}

.img{
    max-width: 300px;
   
}
.myName a{
 text-decoration: none;
}


.text1{
    color: white;
    font-family: 'Cardo', serif;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    padding-bottom: 0% !important;
    margin-bottom: 20px !important;
  }
  
  .imageDiv{
    display: flex;
    justify-content: center;
  }
  
  .btn{
    display: flex;
    justify-content: center;
padding-bottom: 20px;

  }

  .btn2{
    padding: 20px;
    background-color: #971411;
    border-radius: 20px;
border: none;
width: 200px;
font-size: 20px;
font-weight:700;

  }

  .btn2 a{
   text-decoration: none; 
  }